<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oppowatch.dndsync">

    <application
        android:allowBackup="true"
        android:label="OppoWatchDndSync"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="OPPO Watch 勿扰双向同步" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedhook"
            android:value="com.oppowatch.dndsync.MainHook" />

    </application>

</manifest>
